.App {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.App-header {
  background: red;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logo-text {
  font-family: 'Monofett', cursive;
  font-size: 4em;
  color: white;
  text-shadow: 3px 3px black;
}

input[type='text'] {
  background-color: white;
  background-image: url('./searchIcon.png');
  background-size: 32px 32px;
  background-position: 5px 10px;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-left: 40px;
  height: 3em;
  width: 50%;
  border-style: outset;
  box-shadow: 5px 10px red;
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
}

form {
  margin-top: 4em;
}
button {
  margin-top: 20px;
  border-radius: 10px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5em;
  box-shadow: 5px 10px red;
}

.results {
  margin-top: 40px;
}

.error {
  color: red;
}

.bigNum {
  font-size: 4em;
  text-shadow: 2px 2px red;
  text-decoration: underline;
}

*:focus {
  outline: none;
}
